.home-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.art-container{
  width: 50%;
  height: calc(100vh - 136px);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
}
.art-container img{
  width: 90%;
  height: 90vh;
  object-fit: cover;
}

.text-container{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 136px);
  gap: 80px;
  justify-content: center;
}
.desc-sub-container{
  display: flex;
  justify-content: center;
  width: 85%;
  flex-direction: column;
}
.desc-sub-container p{
  font-family: 'montserrat', sans-serif;
  font-size: 24px;
  color: white;
}
.btn-container{
  display: flex;
  flex-direction: row;
}
.title-sub-container img{
max-width: 50%
}
.title-sub-container{
  display: flex;
  justify-content: center;
}
