@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.btn-home-1 {
  font-family: inherit;
  display: inline-block;
  width: 19em;
  height: 5.9em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 26px;
  z-index: 1;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 50px;
  position: relative;
  transition: 0.3s;
}

.btn-home-1:before {
  position: absolute;
  content: "";
  background: red;
  width: 390px;
  height: 230px;
  z-index: -1;
  border-radius: 50%;
}

.btn-home-1:hover {
  width: 20em;
  height: 6.2em;
}

.btn-home-1:before {
  top: 100%;
  left: 100%;
  transition: 0.4s all;
}

.btn-home-1:hover:before {
  top: -70px;
  left: 0px;
}
.btn-home-1 a{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  transition: 0.4s all;
  font-size: 30px;
  text-decoration: none;
  color: white;
}



.btn-home-2 {
  font-family: inherit;
  width: 19em;
  height: 5.9em;
  cursor: pointer;
  margin: 26px;
  border: 0;
  z-index: 1;
  background-color: red;
  border-radius: 50px;
  transition: 0.3s;
  outline: none;
}
.btn-home-2 a{
  color: white;
  font-family: 'Bebas Neue';
  text-decoration: none;
  font-size: 30px;
  outline: none;
}
.btn-home-2:hover {
opacity: 0.4;
width: 20em;
height: 6.2em;
outline: none;
}
