@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-catalogue {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190vh;
    align-items: center;
}

.catalogue-line {
    width: 70%;
    height: 45%;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.title-section-container {
    width: 100%;
    height: 250px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title-section-container h1 {
    font-family: 'Bebas Neue';
    font-size: 110px;
}
.card {
  width: 240px;
  height: 294px;
  padding: .8em;
  background: #252525;
  position: relative;
  overflow: visible;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

 .card-img {
  background-color: white;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  transition: .3s ease;
 }
 .card-img img{
  width: 40%;
 }



 .card-info {
  padding-top: 10%;
 }

 svg {
  width: 20px;

  height: 20px;
 }

 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }

 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  font-family: 'Poppins';
  line-height: 1.5;
  color: white;
 }

 .text-body {
  font-size: .9em;
  color: white;
  font-family: 'Poppins';
  padding-bottom: 10px;
 }

 /*Button*/
 .card-button {
  border: 1px solid #ffffff;
  display: flex;
  padding: .3em;
  background-color: white;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }

 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(155, 155, 155, 0.75) 0px 13px 47px -5px, rgba(155, 155, 155, 3) 0px 8px 16px -8px;
 }

 .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: red;
 }









